*, *::before, *::after {
    box-sizing: border-box;
    display: flexbox;
}
html {
   scroll-behavior: smooth;
}

body {overflow: x hidden};

:root {
    --bg-color: rgb(240, 234, 226);
    //--tamanho-do-texto: 20rem;
    --margem: 25vh;
}


#textoEntrada {
    margin: 0 auto;
    //display: flex;
    text-align: center;
    margin-top: 5vh;
    transition: transform 300ms;
}

.sect {
    justify-content: center;
    margin: auto;
    display: flex;
}

#entrada {
    width:100%;
    height: 1000px;
    font-family: monospace;
    //font-weight: 
    color:rgb(184, 178, 207);
    font-size: 3rem;
}

#textoEntrada1 {
    display: block;
    margin: auto;
}

#textoEntrada, #textoEntrada1 {
    display: inline-block; 
    animation-name: instruc;
    animation-duration: 3s;
    color:rgb(184, 178, 207);
}

@keyframes instruc {
    from {
        opacity: 0;
    }
    to {
    opacity: 50%;
    
    }
}

#quarto {
    background-color: rgb(0, 0, 0);
    border: solid 3px pink;
    display: flex;
    color: white;
    margin: 0 auto;
    justify-content: center;
}

#primeiraPergunta {
    font-size: 3rem;
    font-weight: lighter;
    color:rgb(184, 178, 207);
    animation: instruc;
    animation-duration: 3s;
}

#caixadetexto {
    font-size: 3rem;
    font-weight: lighter;
    color:rgb(184, 178, 207);
    animation-name: instruc;
    animation-duration: 3s;
}

#caixadetexto:hover {
    animation: xis linear;
    animation-duration: 5s;
}

@keyframes xis {
    from {opacity: 0}
} to {opacity: 1}

.narracao {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    color:rgb(142, 137, 163);
    max-width: 100%;
    width:45vw;
    height: auto;
}

.corte {
    padding: 2vh;
    background-color: black;
    color:rgb(184, 178, 207);
    text-align: center;
}

#quadro2 {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin: auto;
    width: 50%;
    height: 35vh;
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:rgba(62, 61, 66, 0.637) 4px dashed;
}

#cinza {
    background-color: var(--bg-color);
}

.cortes {
    border-left: 2px black;
    margin-top: 2vh;
    width: 90%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    animation: instruc;
    animation-duration: 3s;
}

#quadro1 {
    width: 100%;
}

#fundo1 {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

#fundoDois {
    width: 98%;
    display: flex;
    margin: 0 auto;
    background-color: rgb(246, 253, 245);
}

#quartoDois {
    margin: 0 auto;
    display: flex;
    max-width: 100%;
    height: auto;
}

#tubarao {
    background-color: rgb(215, 224, 236);
    width: 100%;
}

#primeiraFrase {
    color: rgb(77, 76, 80);
}

#primeiraFrase:hover {
    font-size: 26px;
}

#ceu1 {
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    margin: 0 auto;
}

#cinza2 {
    font-size: var(--tamanho-do-texto);
}

#cinza3 {
    display: flex;
    margin: 0 auto;
    width: 20vw;
    //height: 5vh;
}

body {
    margin: auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    font-family: monospace, 'courier-new';
}

#quadroCavalos {
    background-color: rgb(212, 229, 240);

}
.cavalos {
    font-size: 3rem;
    font-family: monospace;
}

.todososcavalos {
    width: 100%;
    display: flexbox;
}

#cavaloSegundo {
    background-color: rgba(239, 253, 253, 0.959);
}

#cavaloPrimeiro {
background-color: rgb(243, 226, 229);
}

#cavaloTerceiro {
    background-color: khaki;
}

#transicao {
    background-color: khaki ;
    width: 50%;
    height: 80px;
    margin: 0 auto;
    border-radius: 45%;
    margin-top: 10vh;
}

#transicaoDois {
    margin-top: 10vh;
    background-color: rgb(203, 208, 231) ;
    width: 30%;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 5vh;

}

#azul {
    background-color: black;
    color:white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 100px;
}

#ligamentoAzul {
    max-width: 100%;
    height: auto;
    display: flex;
}

#sensacaoedor {
    padding-top: 50px;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

#caixaDoPeixe {
    font-size: 3rem;
    font-weight: lighter;
    color:rgb(184, 178, 207);
    opacity: 0.25;
}

#caixaDoPeixe:hover {
    opacity: 0.85;
}

#caixaDoPeixeDois {
    width: auto;
    height: auto;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: lighter;
    color:rgb(184, 178, 207);
    opacity: 0.25;
}

#caixaDoPeixeDois:hover {
    opacity: 0.85;
}

.cozinha {
    border: dotted 2px lightblue;
    justify-content: center;
    margin-top: 40vh;
    display: flex;
}

#caixadacozinha{

}

#caixadetextoCozinha {
    font-size: 3rem;
    font-weight: lighter;
    color:rgb(184, 178, 207);
    animation: dialogo linear;
    animation-duration: 5s;
}

#caixadetextoCozinha:hover {
    opacity: 1;
}

@keyframes dialogo {
    from {opacity: 0.5;}
    to {opacity: 1}
}

.narracaoDois {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    color:rgb(142, 137, 163);
    max-width: 100%;
    width:45vw;
    height: auto;
    display: flex;
}

#fragil {
    display: flex;
    margin: 0 auto;
}

#Black {
    margin-top: 250px;
    color: white;
    background-color: black;
    padding-top: 10vh;
}

#aguavivaUm {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

#BlackFim {
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    border: dashed 2px white;
    padding-bottom: 10vh;
}

#aguavivaSprite {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 5vh;
}

#fimpreto {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-top: solid 2vh black;
}

#opcaoDois {
    margin-top: 60vh;
    background-color: aliceblue;
    font-weight: bold;
    text-align: center;
    color:rgba(40, 42, 54, 0.637)
}

#finalSim {
    justify-content: center;
    display: contents;
}

#rascunhoMaos {
    width: 45%;
    height: 500px;
    display: flex;
    margin: 0 auto;
}

#finalNao {
    background-color: whitesmoke;
    padding: 25vh;
    justify-content: center;
}

#maosLuz {
    width: 45%;
    height: 500px;
    border: dotted 4px white;
    margin: 0 auto;
    display: flexbox;
}

#elementiuSim {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;

}

#finalUltimo{ 
    background-color: darksalmon;
    width: 100%;
    height: 35vh;
    font-size: 50px;
}

